api/
social/
static/
templates/
gounion/
venv/
__pycache__/
fastapi_server/__pycache__
gounion2/
Frontend/
.env
media/
node_modules/
tools/
apk_temp/
gounion-remake/android/*/build/
gounion-remake/dist/

v2_temp/
*.log