api/
social/
static/
templates/
gounion/
venv/
__pycache__/
fastapi_server/__pycache__
gounion2/
Frontend/
.env
media/
node_modules/
v2_temp/
*.log
gounion-remake/public/apk/*.apk
gounion-remake/android_legacy/app/build/
gounion-remake/android/app/build/
dist/
.env
